extends ../parts/main.pug
block title
    - var title="#"
block content
    main 
        .cards-mini
            .card(style='width: 18rem;')
                img.card-img-top(src='https://via.placeholder.com/150', alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='https://via.placeholder.com/150', alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='https://via.placeholder.com/150', alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='https://via.placeholder.com/150', alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='https://via.placeholder.com/150', alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='https://via.placeholder.com/150', alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='https://via.placeholder.com/150', alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='https://via.placeholder.com/150', alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary() Подробнее

        .cards-big 
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')  
                .card-body 
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
