extends ../parts/main.pug
block title
    - var title="#"
block content
    main 
        .cards-mini
            .card(style='width: 18rem;')
                img.card-img-top(src='./media/general model/Сокол тысячелетий.webp', alt='...')
                .card-body
                    h5.card-title Сокол тысячелетий
                    p.card-text Модель сокола тысячелетий из "Звёздные войны: Пробуждение силы(эпизод 7)".
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='./media/general model/Лезвие бритвы.webp', alt='...')
                .card-body
                    h5.card-title Лезвие бритвы
                    p.card-text Модель корабля легендарного мандалорца Дина Джарина.
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='./media/general model/Звёздный разрушитель.webp', alt='...')
                .card-body
                    h5.card-title Звёздный разрушитель
                    p.card-text Модель крейсера первого ордена-самый узнаваемый символ Звёздных войн.
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='./media/general model/Замок хогвартс.webp', alt='...')
                .card-body
                    h5.card-title Замок Хогвартс
                    p.card-text Модель уникального замка Хогвартс. Кто знает какие тайны он в себе прячет...
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='./media/general model/Биг Бен.webp', alt='...')
                .card-body
                    h5.card-title Биг Бен
                    p.card-text Модель знаменитых часов Биг Бен украсит вашу комнату.
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='./media/general model/Месть королевы анны.webp', alt='...')
                .card-body
                    h5.card-title Месть королевы Анны
                    p.card-text Модель Мести королевы Анны строится на особых деталях корпуса, являющихся основой всему кораблю.
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='https://via.placeholder.com/150', alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text #
                    a.btn.btn-primary() Подробнее
            .card(style='width: 18rem;')
                img.card-img-top(src='https://via.placeholder.com/150', alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text #
                    a.btn.btn-primary() Подробнее

        .cards-big 
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')  
                .card-body 
                    h5.card-title Сокол тысячелетий
                    p.card-text #
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text #
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text #
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text #
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text #
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text #
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text #
            .card-big(style='display: none;') 
                button.btn.btn-light.closeBigCard Назад
                img.card-img-top.img-big(src='https://via.placeholder.com/150', alt='...')
                .card-body 
                    h5.card-title Card title
                    p.card-text #
