.navigation{
    display: flex;   
    justify-content: space-around;
    
}
.but {
    text-decoration: none;
    color: #D1D1D1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
        transition: 0.5s;
    
}
.but:hover{
    transform: scale(2);
}

.oboi{
    background-image: url("фон.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;

}

#NAbor{
    height: auto;
    width: auto;
}
#index{
    width: auto;
    height: 1000px;
}
#ab{
    width: auto;
    height: 863px;
}
#dr-nabor{
    width: auto;
    height: 863px;
}
*{
    font-family:'Courier New', Courier, monospace ;

}

.det{
    margin-right: 30px;
}
.opisania{
    width: 500px;
    height: 90px;
    transition: 1s;
    flex-basis: auto;
}
.pers{
    width: 400px;
    flex-basis: auto;
}

.lezvie{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 30px;
    height: 200px;
    flex-basis: auto;
}
.sokol{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    flex-basis: auto;
}
.LEGO{
    display: flex;
    justify-content:space-between;
    flex-basis: auto;
}
.razr{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
}
#pers-razr1{
    display: flex;
    order: -1;
    height: 150px;
    width: 350px;
}
#pers-razr2{
    display: flex;
    order: 3;
    height: 150px;
    width: 350px;
}
.photo-r{
    display: flex;
    justify-content: space-between;
}
