nav.navbar
    .container-fluid
        h3.name-navbar Navbar
        form.form(role='search')
            input.form-control.me-2(type='search', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-success(type='submit') Search